table, th, td{
    border: 2px solid rgb(173, 173, 173);
    border-collapse: collapse;
    text-align: center;
    padding: 7px;
    font-family: 'Arial', sans-serif;
}

h1{
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 100;
    padding-left: 200px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

table th.dif{
	border-top: hidden;
    border-left: hidden;
    background-color: white;
}

table td.cent{
    text-align: center;
}

table td.esq{
    text-align: left;
}

table tr.blue{
    background-color: rgb(159, 245, 245);

}

table th.hid{
    border-bottom: hidden;
    vertical-align: middle;
}

td.tcolor{
    color: blue;
}

.esqblu{
    text-align: left; 
    color: blue;
}

th div#sucesso{
    font:12px Arial, Sans-serif;
    width: 200px;
    height: 150px;
    border: 1px solid #c30;
    background: #ffe;
    line-height:150px;
}











