img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.txt_final{
	text-align: center;
	color:blue;
	
}

body.pag_final{
	font-family: 'Calibri', serif;
    margin: ;
    background-color:beige;
}